.scroll0{
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar{
  width: 0;height: 0;
}
html{
  width: 100%; height: 100%;
}
body{
  margin: 0;width: 100%;height: 100%;
}
ol{
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.center{
  display: flex;align-items: center;justify-content: center;
}
P{
  margin: .5rem 0;
}
.shadow1{
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}

//h-loading 指令中需要使用到的class
.h-loading-fade-enter-active, .h-loading-fade-leave-active {
  transition: opacity .2s;
}
.h-loading-fade-enter, .h-loading-fade-leave-to {
  opacity: 0;
}
.h-loading-relative{
  position: relative;
  >.h-loading-shade{
    position: absolute;left: 0;top: 0;width: 100%;height: 100%;
    display: flex;align-items: center;justify-content: center;
    background-color: #ffffff9e;
  }
}
